h1 {
    margin: 20px
}

.form-div {
    vertical-align: middle;
 
}

table {
    border: solid 2px grey;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 800px;
}

thead {
    width: 100px;
    background-color: lightgrey;
}

td tr {
    display: flex;
    justify-content: center;
}

.col th {
    display: flex;
    justify-content: center;
}

.table-rows {
    display: flex;
    justify-content: center;
    text-align: center;
}

.label {
    display: flex;
    justify-content: center;
    /* vertical-align: middle; */
}
