table {
    border: solid 1px grey;

}

td .col {
    width: 5em;
    margin: 10px;
}

.table-rows {
    display: flex;
    justify-content: around;
}

.label {
    display: flex;
    align-items: center;
    vertical-align: middle;

}